{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<div class="past_campaign_popup" id="past_campaign_popup">
    <div class="past_campaign_popup__box__close" data-popupclose></div>
    <div class="past_campaign_popup__box">
        <div class="past_campaign_popup__title" data-targettitle></div>
        <form{{ attributes }}>
            {{ children }}
        </form>
    </div>
</div>
