$color_light_orange: #FCF4F0;
$color_medium_orange: #FEE5D3;
$color_light_orange_55: rgba(252,244,240,0.55);
$color_light_yellow: #FDECE0;
$color_orange_15: rgba(255, 150, 155, 0.15);
$color_orange_5: rgba(255, 150, 155, 0.05);
$color_orange: #FF966C;
$color_yellow: #FAD783;
$color_light_yellow: #FFF0CA;

$color_pink_25: rgba(255,174,159,0.25);

$color_grey_blue: #6F6F85;
$color_light_grey_blue: #828296;
$color_border_grey: #DCDCDC;
$color_light_grey_blue_25: rgba(130,130,150,0.25);
$color_blue_8: rgba(39,65,173,0.08);
$color_blue: #20358C;
$color_bg_blue: #22306B;
$color_light_bg_blue: #D0DDF8;
$color_white_95: rgba(255,255,255,0.95);
$color_white_75: rgba(255,255,255,0.75);
$color_white_38: rgba(255,255,255,0.38);
$color_white_15: rgba(255,255,255,0.15);
$color_white: #ffffff;
$color_green: #A6E17D;
$color_grey: #FCF4F0;
$color_grey_95: rgba(252, 244, 240, 0.95);
$color_grey_90: rgba(252, 244, 240, 0.9);
$color_grey_65: rgba(252, 244, 240, 0.65);
$color_grey_60: rgba(252, 244, 240, 0.6);
$color_grey_55: rgba(252, 244, 240, 0.55);
$color_grey_15: rgba(252, 244, 240, 0.15);
$color_grey_10: rgba(252, 244, 240, 0.10);
$color_black_50: rgba(0,0,0,0.5);

$color_dark_grey: #D8D8D8;