.layout-container > main > .layout-content {
  .free-trial-pack-blur-bg {
    .blur_bg_text_block_with_icon__field_icon {
      position: absolute;
      top: rem-calc(-73);
      right: rem-calc(-33);
      width: rem-calc(96);
    }
  }
}
